<%- include("partials/header.ejs") -%>

<h1>CONTACT</h1>
<p><%=theContact%></p>

<button class="btn-linkedin linkedin"type="submit" name="LinkedIn">LinkedIn</button>

<br>
<button type="submit" name="twitter">Twitter</button><br>
<a href = "mailto:esra.wameed@yahoo.com?subject = Feedback&body = Message">
Click to email: esra.wameed@yahoo.com
</a>
<%- include("partials/footer.ejs") -%>
