<%- include("partials/header.ejs") -%>

<h1 class="homeHone">Hello</h1>

    <img src="/images/circleProfile.png" style="width:273.9px;height:292.2px;">
    <p class="startCont"><%=startingContent%></p>
<form class="" action="/projects" method="get">
  <button type="submit" name="button">My Projects</button>

</form>



<%- include("partials/footer.ejs") -%>
