<%- include("partials/header.ejs") -%>
<h1 class="anotherHone">My Projects</h1>
<form  action="/compose" method="get">
  <button type="submit" name="Blog">Blog</button>
</form>

<form  action="/register" method="get">
  <button type="submit" name="register">Secrets</button>
</form>

<%- include("partials/footer.ejs") -%>
