p{
  color: white;
  margin-left: 20%;
  margin-right: 40%;
}

.nav{
margin: auto;
width: 50%;
padding: 10px;
text-align: center;
}
.navbar-brand{
  margin: auto;
width: 50%;
border: 3px solid darkred;
padding: 10px;
text-align: center;
color: white;
font-size: 20px;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 15px;
    letter-spacing: 5px;
}
li a {
	box-shadow: 3px 4px 0px 0px #899599;
	background:linear-gradient(to bottom, #ededed 5%, #cd853f 100%);
	background-color:#cd853f;
	border-radius:15px;
	border:1px solid #d6bcd6;
	display:inline-block;
	cursor:pointer;
	color:black;
	font-family:Arial;
	font-size:17px;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #e1e2ed;
  font-weight: bold;
  width: 162px;
  height: 19.500px;
  margin-bottom: 5px;
}
li a:hover {
	background:linear-gradient(to bottom, darkred 5%, #ededed 100%);
	background-color:#bab1ba;
}
li a:active {
	position:relative;
	top:1px;
  color: white;
}


.footer-padding {
	padding-bottom: 60px;
  position: fixed;
}

.footer {
	position: absolute;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color:darkred;
}

.footer p {
	margin-top: 25px;
	font-size: 14px;
  color: white;
  font-weight: bold;
  text-align: center;
  margin-left: 198.8945px;
  margin-right: 198.8945px;
}

.btn{
  color: white;
  background-color: blue;
  position: relative;left: 517px;

}

.oneLine{
  width: 577px;
  padding: 2px;
  border: solid 1px;
}

li{
display: inline;
background-color: pink;
}

body{
  background-image: url("/images/techportimage.jpg");

}
.numb1{
  background-image: url("/images/one.png");
}

.numb2{
  background-image: url("/images/two.png");
}

.numb3{
  background-image: url("/images/three.jpg");
}

.numb4{
  background-image: url("/images/four.jpg");
}

.composeSomething{
  color: white;
}

label{
  color: red;
  font-weight: bolder;
}

.anotherHone{
  color: white;
}

.homeHone{
  color: white;
  text-align: center;
}

.vertical-menu {
  display: inline-block;
}

.vertical-menu a {
  display: block;
  padding: 12px;
  text-decoration: none;
  width: 135px;
  height: 54px;
}

.vertical-menu a:hover {
  border: 5px solid white;
}

.vertical-menu a.active {
  background-color: darkred;
  color: white;
}

.startCont{
  margin-left: 40px;
  margin-right: 450px;
  margin-top: 0px;
}

h1{
  color: white;
}
